<header id="fh5co-header" role="banner">
  <nav id="menu" class="navbar navbar-default navbar-fixed-top" ole="navigation">
    <div class="container-fluid">
     <div class="navbar-header">
      {% if page.navigation or page.navigation_collapsible %}
        {% block navbar %}
           <div class="sitebrand">
              {{ page.navigation }}
            </div>
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle collapsed js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar">
              <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
      </div>
        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
      <div id="fh5co-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {{ page.navigation_collapsible }}
        </ul>
      </div>
        {% endif %}
    {% endblock %}
  {% endif %}
    </div>
  </nav>
</header>

  <!-- END .header -->


  <!-- END .header -->

  <!-- ........Title.......-->
  <aside class="fh5co-page-heading">
    <h1 class="fh5co-page-heading-lead">
      {{ page['#title'] }}
      <span class="fh5co-border"></span>
    </h1>
  </aside>
  <!-- ........Title End.....-->

<div class="container">
{# Main #}
{% block main %}
<section id="top-cont">
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-4" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-8',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-8',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}



        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}

      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-4" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
</div>


  <footer id="fh5co-footer">

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="fh5co-footer-widget">
            <h2 class="fh5co-footer-logo">{{ title }}</h2>
            <p>{{ desc }}</p>
          </div>
          <div class="fh5co-footer-widget">
            <ul class="fh5co-social">
               {% if facebook|render is not empty %}
                 <li><a href="{{ facebook }}"><i class="icon-facebook"></i></a></li>
               {% endif %}
               {% if twitter|render is not empty %}
                 <li><a href="{{ twitter }}"><i class="icon-twitter"></i></a></li>
               {% endif %}
               {% if instagram|render is not empty %}
                 <li><a href="{{ instagram }}"><i class="icon-instagram"></i></a></li>
               {% endif %}
               {% if linkedin|render is not empty %}
                 <li><a href="{{ linkedin }}"><i class="icon-linkedin"></i></a></li>
               {% endif %}
               {% if youtube|render is not empty %}
                 <li><a href="{{ youtube }}"><i class="icon-youtube"></i></a></li>
               {% endif %}
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-sm-6">
          <div class="fh5co-footer-widget top-level">
             {{ page.footer_left }}
          </div>
        </div>

        <div class="visible-sm-block clearfix"></div>

        <div class="col-md-2 col-sm-6">
          <div class="fh5co-footer-widget top-level">
             {{ page.footer_middle }}
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="fh5co-footer-widget top-level">
             {{ page.footer_right }}
          </div>
        </div>
      </div>

      <div class="row fh5co-row-padded fh5co-copyright">
        <div class="col-md-5">
          <p><small>&copy;{{ copy }} <br>HTML design by: <a href="https://freehtml5.co">FreeHTML5.co</a> | Drupal theme by: <a href="http://www.youngglobes.com" target="_blank" rel="nofollow">Young Globes</a></small></p>
        </div>
      </div>
    </div>

  </footer>
